.mainphoto {
outline: 2px solid white;
  outline-offset: -15px;
}

.me {
  max-width: 320px;
  position: absolute;
  top: 60px;
  left: 60px;
}

li {
  list-style-type: none;
  float: none; 
  margin-left: 105%;
 
}
h1 {
  position: absolute;
  top: 640px;
  left:30px;
  font-size: 105px;
  font-family: impact;
  color: white;
  
 
}
nav {
  position: absolute;
  top: 20px;
  left: 1000px;
  font-size: 2em;
  font-family: impact;
  color: white;
  filter: none; 
  text-align: right;
}

h2 {
   font-family: impact;
  font-size:3em;
  display: inline;
}  
p {
  font-family: 'heebo';
  font-size; 2em;
  
}


.headings {
  font-family: Impact;
  font-size: 3em;
  background: lightblue;
  padding: 25px;
  outline: 2px solid white;
  outline-offset: -10px;
  text-align: center;
  color: white;
  
 
}
.bodypictures {
  max-width: 250px;
  padding: 50px; 
  
  
  
  
}
.aboutme{
  max-width: 200px;
  padding: 30px;
}
a { 
   
    padding: 1rem;
    text-decoration: none;
    color: #000;
  font-size: 1.2rem;}
.aboutme {
  float: right;
}
background {
  background-image: url("");
}
